.room-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    .room-main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .participants {
            flex: 1;
        }
    }
    .room-sidebar {
        width: 350px;
    }
    // display: grid;
    // grid-template-areas:
    //     "header header"
    //     "content menu"
    //     "footer footer";
    // grid-template-columns: 4fr 1fr;
    // grid-template-rows: 1fr 6fr;
    // gap: 10px;
    // .header {
    //     grid-area: header;
    // }
    // .participants {
    //     grid-area: content;
    // }
    // .panel {
    //     grid-area: menu;
    // }
    // .cards {
    //     grid-area: footer;
    // }
}