<div class="cards">
    @if(roomStore.currentUser()?.role === 'voter') {
        @for(card of roomStore.cards(); track card) {
            <button 
                class="card" 
                (click)="selectCard(card)" 
                [class.selected]="roomStore.selectedVote() === card"
                [disabled]="roomStore.activeTask() == null || roomStore.revealed()"
            >
                {{ card }}
            </button>
        }
    }
    @else {
       <div class="facilitator-controls">
            <span class="vote-progress">
            {{ roomStore.votedCount() }}/{{ roomStore.totalConnectedVoters() }} hanno votato
            </span>

            <button
                class="action-button"
                (click)="roomStore.reveal()"
                [disabled]="!roomStore.canReveal()"
            >
                Rivela carte
            </button>
            <button
                class="action-button"
                (click)="roomStore.reset()"
                [disabled]="roomStore.votedCount() === 0"
            >
                Resetta voti
            </button>
        </div>
    }
</div>